.health-tips-container {
    padding: 2rem;
    margin-left: 4rem;
  }

  h1 { 
    background-size: cover; 
    color: white; 
    padding: 30px; 
}

  
  .tips-section {
    margin-bottom: 40px;
    /* background-color: lightblue; */
  }
  
 
  
  .tips-section p {
    font-size: 16px;
    line-height: 1.6;
  }

 
  .icon {
    width: 30px;  
    height: auto;  
    vertical-align: middle;
    margin-left: 10px;
  }
  
 
 

