/* Nutrients.css */

.nutrients-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nutrient-card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .nutrient-card-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .card-content {
    flex: 1;
    padding: 20px;
  }
  
  .card-button {
    padding: 0 20px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; 
    height: 70px;
  }
  
  .nutrient-link {
    text-decoration: none;
  }
  

  