body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(12, 38, 85);

}

.detailed-card {
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  max-width: 48rem;
  border-radius: .5rem;
  border-style: solid;
  border-width: 1px;
  font-size: 12px;
}

.detailed-title{
  background-color: #111;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 1rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.card-fields{
  padding: 1rem;
  padding-left: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.field-row{
  width: 100%;
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.field-label{
  width: 30%;
  float: left;
  font-size: 1.5em;
}

.field-value{
  width: 70%;
  display: flex;
  align-items: center;
}

.field-input{
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding: .5rem;
  width: 80%;
  display: block;
  border-color: rgba( 0, 0, 0, .2 );
  border-style: solid;
  border-width: 1px;
}


.card-tools{
  display: flex;
  justify-content: flex-end;
}

.btn-submit:hover{
  background-color: #1ddb43;
}

.btn-submit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-submit{
  font-size: 1.2em;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: #1eb53c;
  color: #fff;
  border-radius: .3em;
  border: none;
  display: inline-block;
  margin: 1rem;
}

.err{
  margin-left: 12px;
  
}

.error-icon{
  color: rgb(219, 30, 30);
  font-size: 18px;
}
bp5-input-group.bp5-intent-success .bp5-input{
  box-shadow: 0 0 0 0 rgba(35, 133, 81, 0), 0 0 0 0 rgba(35, 133, 81, 0), inset 0 0 0 5px #05ee72, inset 0 0 0 1px rgba(17, 20, 24, 0.2), inset 0 1px 1px rgba(17, 20, 24, 0.3) !important;
}

