body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(12, 38, 85) !important;

}

.detailed-card {
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  max-width: 48rem;
  border-radius: .5rem;
  border-style: solid;
  border-width: 1px;
  font-size: 12px;
}

.detailed-title{
  background-color: #111;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 1rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.card-fields{
  padding: 1rem;
  padding-left: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.field-row{
  width: 100%;
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.field-label{
  width: 30%;
  float: left;
  font-size: 1.5em;
}

.field-value{
  width: 70%;
  display: flex;
  align-items: center;
}

.field-input{
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding: .5rem;
  width: 80%;
  display: block;
  border-color: rgba( 0, 0, 0, .2 );
  border-style: solid;
  border-width: 1px;
}


.card-tools{
  display: flex;
  justify-content: flex-end;
}

.btn-submit:hover{
  background-color: #1ddb43;
}

.btn-submit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-submit{
  font-size: 1.2em;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: #1eb53c;
  color: #fff;
  border-radius: .3em;
  border: none;
  display: inline-block;
  margin: 1rem;
}

.err{
  margin-left: 12px;
  
}

.error-icon{
  color: rgb(219, 30, 30);
  font-size: 18px;
}


@import "@blueprintjs/core/lib/scss/variables.scss";

.title{
    color: #FFE39F;
    font-size: 70px;

}
.bp5-input-group.bp5-intent-success .bp5-input:focus {
    box-shadow: inset 0 0 0 2px #238551, 0 0 0 2px rgb(166, 217, 64), inset 0 1px 1px rgba(17, 20, 24, 0.2) !important;
}

.bp5-input-group.bp5-intent-danger{
    box-shadow: inset 0 0 0 2px #852323, 0 0 0 2px rgb(223, 64, 64), inset 0 1px 1px rgba(17, 20, 24, 0.2) !important; 
    border-radius: 17px !important;
}


.bp5-input{
    border-radius: 17px !important;
}

.submit-btn{
  border-radius: 17px !important;
  background-color: #2db36b !important;
  border: none;
}
.submit-btn:hover{
  background-color: #239156 !important;
} 



@media (max-width: 1418px) {
    .stack-on-small {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}

bp5-input-group.bp5-intent-success .bp5-input{
  box-shadow: 0 0 0 0 rgba(35, 133, 81, 0), 0 0 0 0 rgba(35, 133, 81, 0), inset 0 0 0 5px #05ee72, inset 0 0 0 1px rgba(17, 20, 24, 0.2), inset 0 1px 1px rgba(17, 20, 24, 0.3) !important;
}

.bp5-card {
  background-color: #2d5c75 !important;
  border-radius: 10px !important;
  box-shadow: 0 0 0 1px rgba(17, 20, 24, 0.15);
  padding: 20px;
  transition: transform 200ms cubic-bezier(0.4, 1, 0.75, 0.9), box-shadow 200ms cubic-bezier(0.4, 1, 0.75, 0.9);

}
.white{
  color: #ffffffd6 !important;
}
p{
  color: #ffffffd6;
}

.bp5-card .bp5-heading{
  color: #ffe39f !important;
}

h4{
  color: #ffe39f !important;
}

.bp5-navbar {
  background-color: #2d5c75 !important;
}

a:focus{
  outline: none !important;
  outline-offset: 0px !important;
}

.bp5-navbar-divider {
  height: 50px !important;
}

.bp5-navbar-heading {
  font-size: 25px !important;
  margin-right: 10px !important;
  color: #ffe39f !important;
}

.select-btn{
  background-color: white !important;
  border-radius: 17px !important;
  display: flex;
  justify-content: space-between !important;
}

.select-btn:focus{
  outline: rgb(166, 217, 64) solid 2px !important;
  outline-offset: 2px !important;
  -moz-outline-radius: 6px !important;
}

.bp5-multi-select-tag-input-input{
  padding: 5px !important;
}

.bp5-alert{
  background-color: #2d5c75 !important;
}

.bp5-alert p{
  color: #ffe39f !important;
}
.bp5-alert-footer button{
  border-radius: 13px !important;
  background-color: #2db36b !important;
  border: none;
}

.bp5-alert-footer button:hover
{
  background-color: #239156 !important;
}

.bp5-label{
  width: 30% !important;
}

.bp5-form-content{
  width: 100% !important;
  margin-bottom: 17px !important;
}

.bp5-input-group{
  width: 70% !important;
}

.bp5-navbar-divider{
  margin-right: 0px !important;
  margin-left: 0px !important;
}
li::marker{
  color: #a6d940;
}
li:not(.bp5-popover-content li, .p-datatable-tbody li){
  margin-top: 1rem;
  color: #ffffffd6;
  font-size: 16px;
}
.bp5-divider{
  background: #a6d940;
}

h1, h2{
  color: #ffe39f !important;
}